<!DOCTYPE css>
h1 {font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;} 
h2 {font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;} 
p {font-family: Palatino, URW Palladio L, serif;}
